h3, h1, label, p {
    color: white !important;
}

fieldset, label {
    margin: 0;
    padding: 0;
}

body {
    margin: 20px;
}

h1 {
    font-size: 1.5em;
    margin: 10px;
}

.d-flex {
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.card div {
    color: white !important;
}

.subTitle {
    font-size: 20px;
    font-weight: 700;
}

a:active {
    color: #f2f6fa !important;
}

a:hover {
    color: #6e8da7 !important;
}

.number01 {
    font-weight: 500;
    font-size: 40px;
}

.number02 {
    font-weight: 500;
    font-size: 20px;
}

.breadcrumb {
    background-color: transparent !important;

}

.breadcrumb a {
    color: #ffffff !important;
}

.black {
    background: black !important;
}

.card {
    background-color: #505050 !important;
    top: 4rem !important;
}